{% extends 'base.html.twig' %}

{% block body %}
    {% if error is defined %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="flex flex-col justify-between items-center">
        <img class="h-36 w-36 rounded-full" src="images/avatar11.png" alt=""/>
        <h4 class="mt- text-bluePrimary text-xl font-bold">{{ app.user().fullname }}</h4>
    </div>
    <section class="grid grid-cols-2">
        <div class="flex flex-col">
            <div class="p-6 space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Update Account
                </h1>
                {{ form_start(updateUserForm, {attr: {class: 'space-y-6'}}) }}
                <div>
                    {{ form_label(updateUserForm.email, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(updateUserForm.email, {attr: {placeholder: 'name@email.com',class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                <div>
                    {{ form_label(updateUserForm.firstname, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(updateUserForm.firstname, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                <div>
                    {{ form_label(updateUserForm.lastname, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(updateUserForm.lastname, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                <div>
                    {{ form_label(updateUserForm.roles, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(updateUserForm.roles, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                {{ form_widget(updateUserForm.save, {attr: {class: 'w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center'}}) }}

                {{ form_end(updateUserForm) }}
            </div>
            <div class="p-6 space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Password Change
                </h1>
                {{ form_start(passwordUserForm, {attr: {class: 'space-y-6'}}) }}
                <div>
                    {{ form_label(passwordUserForm.old_password, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(passwordUserForm.old_password, {attr: {placeholder: '*******',class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                <div>
                    {{ form_label(passwordUserForm.password.first, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(passwordUserForm.password.first, {attr: {placeholder: '*******',class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                <div>
                    {{ form_label(passwordUserForm.password.second, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(passwordUserForm.password.second, {attr: {placeholder: '*******',class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                {{ form_widget(passwordUserForm.save, {attr: {class: 'w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center'}}) }}

                {{ form_end(passwordUserForm) }}
            </div>
        </div>
        <div class="p-6 space-y-6 flex flex-col">
            <div class="p-6 space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Delivery Address
                </h1>
                {{ form_start(deliveryAddressForm, {attr: {class: 'space-y-6'}}) }}
                <div>
                    {{ form_label(deliveryAddressForm.street, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(deliveryAddressForm.street, {attr: {placeholder: '12 avenue street', class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                <div>
                    {{ form_label(deliveryAddressForm.zip, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(deliveryAddressForm.zip, {attr: {placeholder: '12345', class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                <div>
                    {{ form_label(deliveryAddressForm.city, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(deliveryAddressForm.city, {attr: {placeholder: 'Lyon', class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                {{ form_widget(deliveryAddressForm.save, {attr: {class: 'w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center'}}) }}

                {{ form_end(deliveryAddressForm) }}
            </div>
            <div class="p-6 space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Billing Address
                </h1>
                {{ form_start(billingAddressForm, {attr: {class: 'space-y-6'}}) }}
                <div>
                    {{ form_label(billingAddressForm.street, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(billingAddressForm.street, {attr: {placeholder: '12 avenue street', class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                <div>
                    {{ form_label(billingAddressForm.zip, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(billingAddressForm.zip, {attr: {placeholder: '12345', class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                <div>
                    {{ form_label(billingAddressForm.city, null, {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(billingAddressForm.city, {attr: {placeholder: 'Lyon', class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5'}}) }}
                </div>
                {{ form_widget(billingAddressForm.save, {attr: {class: 'w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center'}}) }}

                {{ form_end(billingAddressForm) }}
            </div>
        </div>
    </section>
{% endblock %}
